---
layout: 'base.njk'
---

<section>
  <div class="article | container-sm flow">
    <h2 class="article__title">{{ title }}</h2>
    <img src="{{ image }}" alt="{{ imageAlt }}">
    <p style="text-align: end">
      <span>{{ date | postDate }}</span> / <span>{{ category }}</span>
    </p>
    <article class="flow">
      {{ content | safe }}
    </article>
  </div>
</section>