---
layout: 'base.njk'
---

<section>
    <article class="container--narrow flow">
        <h2 class="article__title">{{ title }}</h2>
        <figure>
            <img loading="lazy" src="{{ image }}" alt="{{ imageAlt }}">
            <figcaption style="text-align: center;">
                <i>{{ imageAlt }}</i>
            </figcaption>
        </figure>
        {{ content | safe }}
    </article>
</section>