<article class="post flow">
  <h3 class="post__title">{{ post.data.title }}</h3>
  <p class="post__date">Updated on <span>{{ post.data.date | postDate }}</span></p>
  <p class="post__description">{{ post.data.description }}</p>
  <a href="{{ post.url }}" class="post__cta">Read more</a>
</article>