<!-- footer -->
<footer id="footer">
    <div class="footer container flow">
        <p>Follow us anywhere in the web:</p>
        <nav class="flex">
            <a
                href="https://m.facebook.com/home.php#!https://m.facebook.com/groups/400138937513273/permalink/832188894308273/?refid=28&_ft_=qid.6943109376465658938%3Amf_story_key.-7502367648317176323%3Atop_level_post_id.10225478119682222%3Acontent_owner_id_new.1302822440%3Aoriginal_content_id.832188894308273%3Aoriginal_content_owner_id.100014615285956%3Apage_id.400138937513273%3Asrc.22%3Aphoto_id.1056160428214457%3Astory_location.5%3Aattached_story_attachment_style.photo%3Aview_time.1616568625%3Afilter.h_nor%3Atds_flgs.3%3Aott.AX-d_5XXMB9oGlqt&__tn__=%2As%2AsH-R"
                target="_blank"
                rel="noopener noreferrer">Facebook</a>
            <a href="https://instagram.com/progress_et?utm_medium=copy_link" target="_blank" rel="noopener noreferrer">Instagram</a>
            <a href="https://t.me/progress_tutorial" target="_blank" rel="noopener noreferrer">Telegram</a>
            <a href="https://progress-ltc.netlify.app/" target="_blank" rel="noopener noreferrer">Google</a>
        </nav>
        <a href="#header">Back to top</a>
        <p>&copy; Copyright
            <span id="year"></span>
            Progress LTC</p>
    </div>
</footer>