<!-- footer -->
<footer id="footer">
    <div class="footer container flow">
        <p>Follow us anywhere in the web:</p>
        <ul role="list" class="flex">
            <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">Facebook</a>
            </li>
            <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">Twitter</a>
            </li>
            <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">Google</a>
            </li>
            <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">Telegram</a>
            </li>
            <li>
                <a href="http://" target="_blank" rel="noopener noreferrer">Whatsapp</a>
            </li>
        </ul>
        <a href="#header">Back to top</a>
        <p>&copy; Copyright
            <span id="year"></span>
            Progress LTC</p>
    </div>
</footer>