<!-- header -->
<header id="header">
  <div class="header container">
    <a href="/" class="fs-700 fw-900">Progress</a>
    <button class="mobile-nav-toggle" aria-controls="primary-nav">
      <span class="sr-only" aria-expanded="false">Menu</span>
    </button>
    <input type="checkbox" name="toggle" class="toggle" id="toggle" style="display: none;">
      <nav>
        <ul class="primary-nav flex" id="primary-nav">
          <li>
            <a class="fw-700" href="/pages/about">About</a>
          </li>
          <li>
            <a class="fw-700" href="/#ielts">IELTS</a>
          </li>
          <li>
            <a class="fw-700" href="/#blog">Articles</a>
          </li>
          <li>
            <a class="fw-700" href="/pages/blog">Blog</a>
          </li>
          <li>
            <a class="fw-700" href="/#faq">FAQ</a>
          </li>
          <li>
            <a class="fw-700" href="/pages/contact">Contact</a>
          </li>
        </ul>
      </nav>
      <label for="toggle" class="toggle-label">
        <i class="fas fa-bars"></i>
      </label>
    </div>
  </header>