<header id="header">
  <div>
    <a href="/" class="logo">Progress LTC</a>
  </div>
  <button class="mobile-nav-toggle" aria-controls="primary-nav">
    <span class="sr-only" aria-expanded="false">Menu</span>
  </button>
  <nav>
    <ul id="primary-nav" class="primary-nav" data-visible="false" role="list">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="https://t.me/progress_tutorial" target="_blank" rel="noopener noreferrer">Telegram</a>
      </li>
      <li>
        <a href="https://github.com/dostonnabotov/progress" target="_blank" rel="noopener noreferrer">GitHub</a>
      </li>
    </ul>
  </nav>
</header>