 <header>
        <div>
            <img class="logo" width="50px" src="/assets/logo.png" alt="">
        </div>
        <button class="mobile-nav-toggle" aria-controls="primary-nav">
            <span class="sr-only" aria-expanded="false">Menu</span>
        </button>
        <nav>
            <ul id="primary-nav" class="primary-nav" data-visible="false" role="list">
               <li class="dropdown">
                    <button class="dropdown__btn">
                        Home
                        <i class="fas fa-angle-down"></i>
                    </button>
                    <ul class="dropdown__content" role="list">
                        <li><a href="/#ielts">IELTS</a></li>
                        <li><a href="/#faq">FAQ</a></li>
                        <li><a href="/#blog">Articles</a></li>
                    </ul>
                </li>
                <li><a href="/pages/about">About</a></li>
                <li><a href="/pages/blog">Blog</a></li>
                <li><a href="/pages/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
