@use "../abstracts" as *;

body {
  overflow-x: hidden;
  font-family: var(--ff-body);
  font-size: fs(400);
  font-weight: fw(400);
  line-height: 1.6;

  color: neutral(400);
}

p:not([class]) {
  max-width: 70ch;
}
