@use "../abstracts" as *;

:root {
  --clr-primary: hsl(216, 100%, 50%);

  --ff-body: "Poppins", sans-serif;

  --fs-400: 1rem;
  --fs-500: 1.4rem;
  --fs-700: 1.7rem;
  --fs-900: 2.3rem;

  @include mq("md") {
    --fs-400: 1.125rem;
    --fs-500: 1.8rem;
    --fs-700: 2rem;
    --fs-900: 3rem;
  }
}
