h1,
h2,
h3 {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  color: #121212;
}

h1,
.site-title {
  font-size: var(--fs-900);
}

h2,
.section-title {
  font-size: var(--fs-800);
}

.section-title {
  margin-bottom: 0.5em;
}

h3,
.card-title {
  font-size: var(--fs-600);
}

p {
  max-width: 70ch;
}
