$font-sizes: (
  400: var(--fs-400),
  500: var(--fs-500),
  700: var(--fs-700),
  900: var(--fs-900),
);

$font-weights: (
  400: 400,
  700: 600,
  900: 700,
);

$font-colors: (
  primary: hsl(216, 100%, 50%),
);

$neutral: (
  100: hsl(0, 0%, 100%),
  400: hsl(0, 0%, 27%),
  700: hsl(0, 1%, 16%),
);

@each $shade, $value in $font-sizes {
  .fs-#{$shade} {
    font-size: $value;
  }
}

@each $shade, $value in $font-weights {
  .fw-#{$shade} {
    font-weight: $value;
  }
}

@each $shade, $value in $neutral {
  .neutral-#{$shade} {
    color: $value;
  }
}

@each $shade, $value in $font-colors {
  .text-#{$shade} {
    color: $value;
  }
}
