---
layout: 'layouts/base.njk'
---

<article class="container grid-flow region">
  <h1>{{ title }}</h1>
  <p>
    Updated on
    <span>{{ date | postDate }}</span>
  </p>
  {{ content | safe }}
</article>