---
title: Progress LTC | About Us
layout: 'base.njk'
---

<section id="about">
  <div class="about container">
    <h2 class="section__title">About Us</h2>
    <p class="section__subtitle">Wanna know who we are and what we do?</p>
    <div class="about__body">
      <div>
        <img src="/assets/books.jpg" alt="collection of books">
      </div>
      <div class="about__content flow">
        <h3 class="main__title main__title--left">Who we are?</h3>
        <div class="main__body small">
          <p>Founded in 2015 by Kamol Zaripov, Progress LTC has come a long way from its beginnings...</p>
          <p>When Mr. Zaripov first started out, his passion for education drove them to educate people so that Progress LTC can
            offer you the best English Language Tutorial.</p>
        </div>
        <a href="https://t.me/progress_tutorial" target="_blank" rel="noopener noreferrer" class="btn btn-outline">Learn more</a>
      </div>
      <div class="about__content flow">
        <h3 class="main__title main__title--left">What we do?</h3>
        <div class="main__body small">
          <p>We now serve customers all over the country, and are thrilled that we're able to turn our passion into a booming
            online website</p>
          <p>We will keep posting more important posts on our website for all of you. Hope that you will get to know with us soon...</p>
        </div>
        <a href="https://t.me/progress_tutorial" target="_blank" rel="noopener noreferrer" class="btn btn-outline">Learn more</a>
      </div>
      <div>
        <img src="/assets/meeting.jpg" alt="meeting between two people in front of hp laptop">
      </div>
    </div>
  </div>
</section>