@use "../abstracts" as *;

/* buttons */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;

  text-transform: uppercase;
  font-size: 1rem;
  font-weight: var(--fw-500);
  text-decoration: none;

  border: 0;
  cursor: pointer;

  // border-radius: var(--br);

  &-primary {
    background-color: var(--clr-primary);
    color: var(--clr-neutral-100);
    outline: 1px solid transparent;

    &:hover,
    &:focus {
      color: var(--clr-primary);
      background-color: var(--clr-neutral-100);
      outline: 1px solid var(--clr-primary);
    }
  }

  &-outline {
    color: var(--clr-primary);
    background-color: var(--clr-neutral-100);
    outline: 1px solid var(--clr-primary);

    &:hover,
    &:focus {
      background-color: var(--clr-primary);
      color: var(--clr-neutral-100);
      outline: 1px solid transparent;
    }
  }
}
