@use "../abstracts" as *;

/* buttons */
.btn {
  display: inline-block;
  padding: 0.4em 1.5em;

  text-transform: uppercase;
  font-weight: var(--fw-500);
  text-decoration: none;

  border: 0;
  cursor: pointer;

  &-primary {
    background-color: var(--clr-primary);
    color: var(--clr-neutral-100);
    outline: 1px solid transparent;

    &:hover,
    &:focus {
      background-color: #045aaf;
    }
  }

  &-outline {
    color: var(--clr-primary);
    background-color: var(--clr-neutral-100);
    outline: 1px solid var(--clr-primary);

    &:hover,
    &:focus {
      background-color: var(--clr-primary);
      color: var(--clr-neutral-100);
      outline: 1px solid transparent;
    }
  }
}
