@use "../abstracts" as *;

/* section */
.section {
  &__title {
    font-size: var(--fs-700);
    text-align: center;

    color: var(--clr-neutral-700);
  }

  &__subtitle {
    font-size: fs(400);
    text-align: center;

    color: var(--clr-neutral-500);
  }
}

.main__title {
  margin-inline: auto;
  font-size: fs(500);
  position: relative;
  width: fit-content;

  &--left {
    margin-inline: unset;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    bottom: 0;
    right: 0;

    height: 2px;
    background-color: #333;
  }
}
