@use "../abstracts" as *;

.cards {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;

  @include md("medium") {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  width: min(100%, 25rem);

  margin: 2rem auto;
  padding-bottom: 0.7rem;

  border-radius: var(--br);
  box-shadow: 0 0 7px -4px #333;

  & > *:where(:not(:first-child)) {
    padding-inline: 0.7rem;
  }

  &__title {
    color: var(--clr-primary);
  }

  &__meta,
  &__body,
  &__link {
    font-size: var(--fs-300);
  }

  &__meta {
    color: var(--clr-neutral-500);
  }

  &__body {
    color: var(--clr-neutral-700);
  }

  &__link {
    display: inline-block;
    color: red;
  }
}
