@use "../abstracts" as *;

#footer {
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-100);
}

.footer {
  padding-block: 2rem;
  text-align: center;

  & nav {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  @media (min-width: 28rem) {
    & nav {
      flex-direction: row;
    }
  }
}
