@use "../abstracts" as *;

header {
  --neutral-900: #222;
  --neutral-100: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 2rem;
}

.mobile-nav-toggle {
  cursor: pointer;
  display: none;
}

.primary-nav {
  display: flex;
  margin: 0;
  padding: 0;
}

.logo {
  text-decoration: none;
  display: inline-block;
}

.primary-nav a {
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
}

.primary-nav li:hover,
.primary-nav a:focus {
  background-color: var(--neutral-900);
  color: var(--neutral-100);
}

@media (max-width: 50em) {
  .primary-nav {
    position: fixed;
    inset: 0 0 0 20%;
    padding: min(20rem, 15vh) 2rem;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
    background-color: var(--neutral-100);
    overflow-y: auto;
  }

  .primary-nav[data-visible="true"] {
    transform: translateX(0);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 2000;
    right: 2rem;
    top: 1.5rem;
    background-color: transparent;
    background-position: center;
    background-image: url("/assets/menu.svg");
    background-repeat: no-repeat;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("/assets/close.svg");
  }
}
