@use "../abstracts" as *;

.ielts__parts {
  display: grid;
  gap: 2rem;
  margin-block: 2rem;
  text-align: center;

  @include md("medium") {
    grid-template-columns: repeat(2, 1fr);
  }
}

.ielts__part {
  width: min(100% - 1rem, 30rem);
  margin-inline: auto;
  height: 100%;
  padding: 1rem 2rem;

  background-color: #fff;

  border-radius: var(--br);
  border: 1px solid #f2f2f2;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  & > i {
    color: var(--clr-primary);
    font-size: 3rem;
  }
}
