@use "../abstracts" as *;

/* ============
    Section
============ */
section {
  padding-block: 2rem;
}

.section__title {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
}
