---
title: Progress LTC
layout: 'layouts/base.njk'
---

<section>
  <div class="container">
    <h2 class="section__title text-center">Latest Articles</h2>
    <div class="posts | grid">
      {% for post in collections.posts | reverse %}
        {% include 'layouts/post.njk' %}
      {% endfor %}
    </div>
  </div>
</section>
