---
title: Progress LTC
layout: 'base.njk'
---

<!-- welcome -->
<section id="welcome">
    <div class="welcome container">
        <h2 class="section__title section__title--left">Welcome to Progress LTC</h2>
        <p class="main__body">Progress LTC is your number one source for mastering English language. We're dedicated to giving
            you the very best of education, with a focus on bright future. We hope you enjoy our tutorial as much as we enjoy
            offering them to you. Thanks For Visiting Our Site</p>
    </div>
</section>
<!-- about -->
<section id="about">
    <div class="about container">
        <h2 class="section__title">About Us</h2>
        <p class="section__subtitle">Wanna know who we are and what we do?</p>
        <!-- wrapper 1 -->
        <div class="wrapper">
            <div class="wrapper__child">
                <img src="./assets/books.jpg" alt="collection of books">
            </div>
            <div class="about__content wrapper__child flow">
                <h3 class="main__title main__title--left">Who we are?</h3>
                <div class="main__body small">
                    <p>Founded in 2015 by Kamol Zaripov, Progress LTC has come a long way from its beginnings...</p>
                    <p>When Mr. Zaripov first started out, his passion for education drove them to educate people so that Progress LTC can
                        offer you the best English Language Tutorial.</p>
                </div>
                <a href="https://t.me/progress_tutorial" target="_blank" rel="noopener noreferrer" class="btn btn-outline">Learn more</a>
            </div>
        </div>
        <!-- /wrapper 1 -->
        <!-- wrapper 2 -->
        <div class="wrapper">
            <div class="about__content wrapper__child flow">
                <h3 class="main__title main__title--left">What we do?</h3>
                <div class="main__body small">
                    <p>We now serve customers all over the country, and are thrilled that we're able to turn our passion into a booming
                        online website</p>
                    <p>We will keep posting more important posts on our website for all of you. Hope that you will get to know with us soon...</p>
                </div>
                <a href="https://t.me/progress_tutorial" target="_blank" rel="noopener noreferrer" class="btn btn-outline">Learn more</a>
            </div>
            <div class="wrapper__child">
                <img src="./assets/meeting.jpg" alt="meeting between two people in front of hp laptop">
            </div>
        </div>
        <!-- /wrapper 2 -->
    </div>
</section>
<!-- ielts -->
<section id="ielts">
    <div class="ielts container">
        <h2 class="section__title">IELTS</h2>
        <p class="section__subtitle">Everything you need to know as you get started with IELTS</p>
        <!-- wrapper 1 -->
        <div class="ielts__parts wrapper">
            <div class="ielts__part wrapper__child flow">
                <i class="fas fa-headphones"></i>
                <h3 class="main__title">Listening</h3>
                <p class="main__body">Want to know why listening, understanding and taking notes at the same time, (in short,
                    'Listening' section) is the easiest part of all?</p>
            </div>
            <div class="ielts__part wrapper__child flow">
                <i class="fas fa-book"></i>
                <h3 class="main__title">Reading</h3>
                <p class="main__body">Get tired of those saying practice, practice, practice? Focus on reading, not questions. Follow us
                    for more...</p>
            </div>
        </div>
        <!-- /wrapper 1 -->
        <!-- wrapper 1 -->
        <div class="ielts__parts wrapper">
            <div class="ielts__part wrapper__child flow">
                <i class="fas fa-pencil"></i>
                <h3 class="main__title">Writing</h3>
                <p class="main__body">People often consider 'Writing' section as the hardest of all. Want to find out why?</p>
            </div>
            <div class="ielts__part  wrapper__child flow">
                <i class="fas fa-microphone"></i>
                <h3 class="main__title">Speaking</h3>
                <p class="main__body">Do you still memorize the answer, and use so-called 'advanced' vocabulary to impress your examiner
                    or listener?</p>
            </div>
        </div>
        <!-- /wrapper 1 -->
    </div>
</section>
<!-- blog -->
<section id="blog">
    <div class="blog container">
        <h2 class="section__title">Featured Articles</h2>
        <p class="section__subtitle">Interested in our articles? or Wanna know about our students' success stories?</p>
        <!-- cards -->
        <div class="cards">
            {% for post in collections.featured | reverse %}
                {% include 'article-snippet.njk' %}
            {% endfor %}
        </div>
        <!-- /cards -->
    </div>
</section>
<!-- faq -->
<section id="faq">
    <div class="faq container">
        <h2 class="section__title">FAQ</h2>
        <p class="section__subtitle" style="margin-bottom: 3em;">Have a urgent question? Check out our FAQs</p>
        <details>
            <summary>How can I sign up for the tutorial?
                <i class="fas fa-chevron-down"></i>
            </summary>
            <p>We would suggest you come to our
                <b>
                    <a href="#contact">office</a>
                </b>
                as you will get know more about what we do. However, you can also join us through our
                main
                <b>
                    <a href="https://t.me/progress_tutorial" target="_blank" rel="noopener noreferrer">community channel</a>
                </b>.</p>
        </details>
        <details>
            <summary>Does Progress LTC also provide online tutorials?
                <i class="fas fa-chevron-down"></i>
            </summary>
            <p>We only offer
                <b>offline</b>
                tutorials as learners will be able to gain knowledge better.
                <i>However</i>, we are also planning to
                    provide
                <b>online</b>
                tutorials in the upcoming future.</p>
        </details>
        <details>
            <summary>How can I contact with you?
                <i class="fas fa-chevron-down"></i>
            </summary>
            <p>You can contact us through our
                <b>
                    <a href="#contact">contact form</a>
                </b>. If you wish to meet us, you can come to our
                <b>
                    <a href="#contact">office</a>
                </b>. We work from
                <i>8 a.m. to 7 p.m.</i>
            </p>
        </details>
        <details>
            <summary>What makes Progress LTC stand out from other English tutorials?
                <i class="fas fa-chevron-down"></i>
            </summary>
            <p>We offer
                <i>the best learning atmophere</i>
                with
                <b>10+ years</b>
                experienced tutor and
                <b>talented</b>
                assistants. Moreover,
                <i>prize-winning contests</i>,
                <i>support</i>
                from our assistants,
                <i>
                    7/24 working contact</i>
                can ensure that you will learn the English Language much better and
                                                faster</p>
        </details>
        <details>
            <summary>Can I apply for TOEFL and other exams through this tutorial
                <i class="fas fa-chevron-down"></i>
            </summary>
            <p>
                <b>Absolutely!</b>
                We teach students and other learners to apply for exams, like
                <b>IELTS</b>,
                <b>TOEFL</b>
                and
                <b>CEFR</b>.</p>
        </details>
    </div>
</section>
<!-- contact -->
<section id="contact">
    <div class="contact container">
        <h2 class="section__title">Contact Us</h2>
        <p class="section__subtitle">We can't solve your problem unless you tell us</p>
        <div class="tabs">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'contact-form')">Contact</button>
                <button class="tablinks" onclick="openTab(event, 'address')">Address</button>
                <button class="tablinks" onclick="openTab(event, 'map')">Site Map</button>
            </div>
            <div id="contact-form" class="tab__content flow">
                <h3>Contact</h3>
                <form action="https://formsubmit.co/dostonnabotov@gmail.com" method="POST">
                    <input
                        type="hidden"
                        name="_autoresponse"
                        value="Thank you for contacting us! We will get in touch with you as soon as possible">
                    <label for="name">Name:
                        <span class="mandatory">*</span>
                    </label>
                    <input type="text" id="name" name="name" placeholder="Your name.." required>
                    <label for="email">Email:
                        <span class="mandatory">*</span>
                    </label>
                    <input type="email" id="email" name="email" placeholder="Your last name.." required>
                    <label for="topic">Topic:
                        <span class="mandatory">*</span>
                    </label>
                    <select id="topic" name="topic" required>
                        <option value="select"></option>
                        <option value="feedback">Feedback</option>
                        <option value="problem">Problem</option>
                        <option value="donation">Donation</option>
                        <option value="other">Other</option>
                    </select>
                    <label for="subject">Subject:
                        <span class="mandatory">*</span>
                    </label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px" required></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div id="address" class="tab__content flow">
                <h3>Address</h3>
                <address class="flow">
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:kamolzaripov91@gmail.com">kamolzaripov91@gmail.com</a>
                    <br>
                    <i class="fas fa-phone"></i>
                    <a href="tel:+998972807977">(+998) 97 280 79 77</a>
                    <br>
                    <i class="fas fa-location-dot"></i>
                    <span>4th floor, Main Building, Oil and Refinery College, Bukhara</span>
                </address>
            </div>
            <div id="map" class="tab__content flow">
                <h3>Site Map</h3>
                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3067.062046768445!2d64.41112924926628!3d39.76071529318821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f50061463c592d7%3A0xc53d87b7b644796f!2sNeft%20Va%20Gaz%20Kollej!5e0!3m2!1sen!2slv!4v1650103569729!5m2!1sen!2slv"
                        width="600"
                        height="450"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>