<footer class="primary-footer-wrapper region">
  <div class="primary-footer container">
    <p>
      &copy; <span id="year"></span> -
      <a href="/" role="link">Progress LTC</a>
    </p>
    <p>
      <a href="#" role="link">Back to top <i class="fa fa-arrow-up"></i></a>
    </p>
  </div>
</footer>
