<header>
  <div class="container">
    <a href="/" class="logo">Progress LTC</a>
    <button class="mobile-nav-toggle" aria-controls="primary-nav">
      <span class="sr-only" aria-expanded="false">Menu</span>
    </button>
    <nav id="primary-nav" class="primary-nav" data-visible="false">
      <ul role="list">
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-telegram"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</header>